body {
    font-family: arial;
    background: #8B0000;
    color: black;
    text-align: center;
  }
  .site-subtitle {
    font-family:negrito;
  }
  .menu li {
    list-style:none;
  }
  .menu {
    background: black;
  }
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  a{
    text-decoration:none;
  }
  a{
    color:white;
  }
  a:hover {
     text-decoration:underline;
  }